<html>

<head>
    <meta charset="UTF-8">
    <title>PIP</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/boltcss/bolt.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .configSection {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            align-items: center;
        }
    </style>
</head>

<body>
    <div id='app' style="display: flex; flex-direction: column; align-items: center; margin: 10px;">

        <textarea v-model="text" placeholder="Text"
            style="width: 100%; height: calc(50vh); margin-bottom: 10px;"></textarea>
        <div>
            <div class="configSection">
                <label style="margin-right: 10px;">文字颜色</label>
                <input v-model="textColorHex" type="string" style="margin-right: 10px;">
                <input v-model="textColorHex" type="color"
                    :style="{width: '20px', height: '20px', backgroundColor: textColorHex}">
            </div>
            <div class="configSection">
                <label style="margin-right: 10px;">背景颜色</label>
                <input v-model="textBackgroundHex" type="string" style="margin-right: 10px;">
                <input v-model="textBackgroundHex" type="color"
                    :style="{width: '20px', height: '20px', backgroundColor: textBackgroundHex}">
            </div>
            <div class="configSection">
                <label style="margin-right: 10px;">滚动速度</label>
                <input v-model="speed" type="range" min="1" max="100" style="margin-right: 10px;">
                <label style="margin-right: 10px;">{{speed}}</label>
            </div>
            <div class="configSection">
                <label style="margin-right: 10px;">文字大小</label>
                <input v-model="fontSize" type="range" min="10" max="100" style="margin-right: 10px;">
                <label style="margin-right: 10px;">{{fontSize}}</label>
            </div>
            <div class="configSection">
                <label style="margin-right: 10px;">滚动进度</label>
                <input v-model="scrollProgress" type="range" step="0.1" min="0" max="100" style="margin-right: 10px;">
                <label style="margin-right: 10px;">{{scrollProgress}}</label>
            </div>
        </div>
        <div>
            <button @click="toggleAutoScroll" style="margin-right: 10px;">{{autoScroll ? '停止滚动' : '开始滚动'}}</button>
            <button @click="asyncConfig" style="margin-right: 10px;">同步配置</button>
            <button @click="updateConfig" style="margin-right: 10px;">上传配置</button>
        </div>

    </div>

</body>
<script>
    const { createApp, ref, onMounted } = Vue


    createApp({
        setup() {
            const text = ref(null)
            const textColorHex = ref(null)
            const textBackgroundHex = ref(null)
            const speed = ref(null)
            const fontSize = ref(null)
            const autoScroll = ref(null)
            const scrollProgress = ref(null)
            const snapShot = ref(null)

            async function toggleAutoScroll() {
                autoScroll.value = !autoScroll.value
                await updateConfig()
            }

            async function fetchConfig(config) {
                const resp = await fetch('/update', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(config)
                })
                const data = await resp.json()
                text.value = data.text
                textColorHex.value = data.textColorHex
                textBackgroundHex.value = data.textBackgroundHex
                speed.value = `${data.speed}`
                fontSize.value = `${data.fontSize}`
                scrollProgress.value = `${data.scrollProgress.toFixed(1)}`
                autoScroll.value = data.autoScroll
                snapShot.value = JSON.stringify(data)
            }

            async function asyncConfig() {
                await fetchConfig({})
            }

            async function updateConfig() {
                const cfg = {
                    text: text.value,
                    textColorHex: textColorHex.value,
                    textBackgroundHex: textBackgroundHex.value,
                    speed: parseInt(speed.value),
                    fontSize: parseInt(fontSize.value),
                    autoScroll: autoScroll.value,
                    scrollProgress: parseFloat(scrollProgress.value)
                }
                const snapShotJson = JSON.parse(snapShot.value)
                for (const key in cfg) {
                    if (cfg[key] === snapShotJson[key]) {
                        delete cfg[key]
                    }
                }
                await fetchConfig(cfg)
            }

            onMounted(async () => {
                await asyncConfig()
            })

            return {
                text,
                textColorHex,
                textBackgroundHex,
                speed,
                fontSize,
                autoScroll,
                scrollProgress,
                updateConfig,
                asyncConfig,
                toggleAutoScroll
            }
        }
    }).mount('#app')
</script>

</html>